body{
	background-color:#D8D8D8;
}
#view{
	margin-top:15px;
	padding:5px;
}
#tiles-container{
	margin-top:5px;
	background-color:"";
	display:flex;
	flex-direction:flow;
	flex-wrap:wrap;
	justify-content:center;
	Z-index:-1;
}
.tile{
	min-height:210px;
	min-width:280px;
	max-height:210px;
	max-width:280px;
	background-color:#D8D8D8;
	border: 2px solid #d0d0d0;
}
.banner{
	height:150px;
	width:270px;
	margin:5px;
}
.price{
	font-size:18px;
	margin:0;
}
.owner{
	font-size:18px;
	margin-top:0px;
	margin-right:20px;
}
.tile:hover{
	border: 2px solid gray;
	cursor:pointer;
}
#loading{
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	max-width:70px;
	max-height:70px;
}
#loading{
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	max-width:70px;
	max-height:70px;
}
